@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero-container {
    width: 100%;
    /* add a liner gradient here */
}

.hero_box .hero_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}


.hero_box .hero_bg img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.title-container {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 14px 70px;
    background-color: #65708a8d;
}

.title {
    font-size: 36px;
    font-weight: 700;
    max-width: 80%;
    color: white;
}

body {
    font-family: "Montserrat", sans-serif;
}

nav {
    background: #3e4e70ff;
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}
li, a, button {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

a {
    transition: all 0.3s ease 0s;
}

a:hover {
    color: #0088a9;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
}

.menu li a {
    display: block;
}

.logo a {
    font-size: 24px;
}


/* mobile menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
    display: flex;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display:block;
}

.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
    border-radius: 20%;
    transition: all 0.5s ease 0s;
}

.bars:before,.bars:after {
    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
    border-radius: 20%;
    transition: all 0.5s ease 0s;
}

.toggle {
    cursor: pointer;
    order: 1;
}

.nav_link a {
    order: 2;
    width: 100%;
}

.bars:before {
    transform: translateY(5px);
}

.bars:after {
    transform: translateY(-5px);
}

.bars.open {
    transform: translateX(-20px);
    background: transparent;
}

.bars.open:after {
    transform: rotate(45deg) translate(15px, -15px); 
}

.bars.open:before {
    transform: rotate(-45deg) translate(15px, 15px);
}

.services-heading{
    margin-top: 16px;
    padding: 8px 8px;
    align-items: center;
    text-align: center;
}

.services-title {
    font-size: 30px;
    font-weight: bold;
}

.services-subtitle {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.cards-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.card {
    margin: 20px 20px;
    padding: 16px 16px;
    max-width: 360px;
    height: auto;
    /* border: 1px solid black; */
}

.card-icon {
    width: 80px;
    height: 80px;
    padding: 20px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 8px #fafafa;
}

.card-icon img {
    /* border: 1px solid black; */
    max-width: 100%;
    height: auto;
}

.card-title {
    width: 100%;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
}

.card-desc {
    width: 100%;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 16px;
}

.about-container {
    position: relative;
    padding: 90px 0;
}

.bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.about-container .bg-container img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.about-content {
    width: 100%;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.about-title {
    font-size: 2rem;
    font-weight: bold;
}

.about-desc {
    margin-top: 15px;
}


/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    max-width: 80%;
    max-height: 80%;
}

.close {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Gallery */

.gallery-container {
    padding: 50px 20px;
    min-height: 100vh;
}

.gallery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust column size as needed */
    grid-gap: 12px;
    justify-items: center; /* Center items horizontally */
}

.gallery img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    object-fit: cover;
    vertical-align: bottom;
    border: 8px solid white;
}

.gallery-title {
    font-size: 2rem;
    font-weight: bold;
}

.img-container {
    box-shadow: rgba(0, 0, 0, 0.33) 0px 1px 3px 0px;
}


.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    color: #2f2f2f;
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }


/* Tablet menu */

@media all and (min-width:468px){
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        order: 2;
    }

    .title{
        font-size: 48px;
    }

    .services-title {
        font-size: 30px;
        font-weight: bold;
    }
    
    .services-subtitle {
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
    }

    .about-content {
        max-width: 420px;
    }

    .gallery-container {
        padding: 50px 20px;
    }
}

/* desktop menu */

@media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
        order: 1;
    }

    .toggle {
        display: none;
    }

    .button {
        order: 2;
    }

    .menu li {
        padding: 15px 10px;
    }

    .title{
        font-size: 48px;
    }

    .services-title {
        font-size: 30px;
        font-weight: bold;
    }
    
    .services-subtitle {
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
    }

    .about-content {
        max-width: 720px;
    }

    .gallery-container {
        padding: 50px 100px;
    }
}
